<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>500 Internal Server Error</title>
<link href="../static/css/error.css" rel="stylesheet"
	th:href="@{/css/error.css}">
<link href="../static/css/piza.css" rel="stylesheet"
	th:href="@{/css/piza.css}">
<link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
</head>
<body>
	<div class="bg-image2">
		<div class="bg-mask">
			<div class="container">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand cp_link" href="item_list.html"
						th:href="@{/}"> <!-- 企業ロゴ --> <img alt="main log"
						src="/img_pizza/header_logo.png" height="35">
					</a>
				</nav>

				 <div class="errortext"> 
					<p style="padding-top: 20px">以下のいずれかの理由でシステムの操作を中断しました。</p>
					<p style="text-indent: -3em"><i class="fas fa-pizza-slice pizaa-icon fa-fw" style="text-indent: 0em"></i>不正な操作が行われた</p>
					<p><i class="fas fa-pizza-slice pizaa-icon fa-fw"></i>長い時間操作を行わなかった</p>
					<p><i class="fas fa-pizza-slice pizaa-icon fa-fw"></i>現在システムメンテナンス中</p>
					<p>しばらく経ってからもう一度操作してください。<p>
					<img src="/img_pizza/pizza_tuchi4.jpg" class="image-center" width="200" height="400">
					<p style="padding-bottom: 20px"><a th:href="@{/}" class="arrow04"></a>
					<a th:href="@{/}" class="navbar-link cp_link3" style="font-size:16px;text-decoration: none;">ピザ屋のネット注文トップページへ戻る</a></p>
				</div>

		<!-- <table>
			<tr>
				<td>
				</td>
			    <td>
			    	<div class="errortext"> 
					<p style="padding-top: 20px">以下のいずれかの理由でシステムの操作を中断しました。</p>
					<p style="text-indent: -3em"><i class="fas fa-pizza-slice pizaa-icon fa-fw" style="text-indent: 0em"></i>不正な操作が行われた</p>
					<p><i class="fas fa-pizza-slice pizaa-icon fa-fw"></i>長い時間操作を行わなかった</p>
					<p><i class="fas fa-pizza-slice pizaa-icon fa-fw"></i>現在システムメンテナンス中</p>
					<p>しばらく経ってからもう一度操作してください。<p>
					<p style="padding-bottom: 20px"><a th:href="@{/}" class="arrow04"></a>
					<a th:href="@{/}" class="navbar-link cp_link3" style="font-size:20px;text-decoration: none;">ピザ屋のネット注文トップページへ戻る</a></p>
				</div>
				</td>
				<td>
		    	<img src="/img_pizza/pizza_tuchi4.jpg" class="image-center" width="200" height="400">
				</td>
			</tr>
		</table>
	 -->			
			</div>
		</div>
	</div>
</body>
</html>
