@CHARSET "UTF-8";

/* 繧ｵ繧､繧ｺ繧偵が繝ｬ繝ｳ繧ｸ縲�縺ｧ蝗ｲ繧� */
span.price {
 /* 繧ｵ繧､繧ｺ謖�螳� */
 width:175px;
 height:175px;
 /* 閭梧勹濶ｲ */
 background-color:#ff4500;
 /* 隗偵ｒ荳ｸ縺上☆繧� */
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 
}
/* 蜷郁ｨ磯�鷹｡阪�ｮ譁�蟄励�ｮ螟ｧ縺阪＆繧貞､峨∴繧� */
span#total-price {
	font-size: 35px;
}
