@CHARSET "UTF-8";

/* 郢ｧ�ｽｵ郢ｧ�ｽ､郢ｧ�ｽｺ郢ｧ蛛ｵ縺檎ｹ晢ｽｬ郢晢ｽｳ郢ｧ�ｽｸ邵ｲ�ｿｽ邵ｺ�ｽｧ陜暦ｽｲ郢ｧ�ｿｽ */
span.price {
 /* 郢ｧ�ｽｵ郢ｧ�ｽ､郢ｧ�ｽｺ隰厄ｿｽ陞ｳ�ｿｽ */
 width:175px;
 height:175px;
 /* 髢ｭ譴ｧ蜍ｹ豼ｶ�ｽｲ */
 background-color:#ff4500;
 /* 髫怜�ｵ�ｽ定叉�ｽｸ邵ｺ荳岩�郢ｧ�ｿｽ */
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 
}
/* 陷ｷ驛�ｽｨ逎ｯ�ｿｽ鮃ｹ�ｽ｡髦ｪ�ｿｽ�ｽｮ隴�ｿｽ陝�蜉ｱ�ｿｽ�ｽｮ陞滂ｽｧ邵ｺ髦ｪ�ｼ�郢ｧ雋橸ｽ､蟲ｨ竏ｴ郢ｧ�ｿｽ */
span#total-price {
	font-size: 35px;
}